<ng-content></ng-content>

<!-- Cost additional info dialog template -->
<ng-template #costInfo>
  <p class="mat-body-2">{{ course.costInfo }}</p>
  <button mat-stroked-button matDialogClose style="margin-top:15px">Закрыть</button>
</ng-template>


<!-- Full info about course dialog-->
<ng-template #fullInfo>
  <h2 class="mat-title" *ngIf="course.name">{{ course.name }}</h2>
  <h3 class="mat-subheading-2" *ngIf="course.type">Направление: {{ getCourseTypeName(course.type) }}</h3>
  <h4 class="mat-subheading-1" *ngIf="course.hours">Нагрузка: {{ course.hours }} часов</h4>

  <p class="mat-body-1" *ngIf="course.requiredEducation">
    <strong>Требуемый уровень образования:</strong> {{ course.requiredEducation }}
  </p>

  <p class="mat-body-1">
    {{ course.description }}
  </p>

  <div class="cost-info">
    <div class="paid mat-body-2" *ngIf="!course.free && course.cost">
      Стоимость обучения: {{ course.cost }} р.
      <p class="mat-body-1" *ngIf="course.costInfo">
        <mat-icon style="margin-right: 10px;" color="accent">info</mat-icon> {{ course.costInfo }}
      </p>
    </div>
    <p class="free mat-body-2" *ngIf="course.free">
      Бесплатный курс <mat-icon>check_circle_outline</mat-icon>
    </p>
  </div>

  <div style="display: flex;justify-content:space-between;margin-top:15px;">
    <button mat-stroked-button matDialogClose type="button">Закрыть</button>
    <button mat-raised-button color="primary" type="button" (click)="openRequestDialog()">
      Записаться
    </button>
  </div>
</ng-template>


<ng-container *ngIf="!course && !create && !edit; then empty"></ng-container>
<ng-container *ngIf="fake; then fakeTemplate"></ng-container>
<ng-container *ngIf="course && !create && !edit && !fake; then courseTemplate"></ng-container>
<ng-container *ngIf="create; then createTemplate"></ng-container>
<ng-container *ngIf="edit; then editTemplate"></ng-container>

<!-- Error template -->
<ng-template #empty>
  <button mat-flat-button type="button" color="primary" (click)="create = true" *ngIf="canCreate" style="width: 100%"
    @fadeIn>
    <mat-icon>add_box</mat-icon>
    <p>Создать новый курс</p>
  </button>
</ng-template>



<!-- Fake Template -->
<ng-template #fakeTemplate>
  <mat-card class="course-card fake">
    <mat-card-header>
      <div mat-card-avatar class="logo"></div>
      <mat-card-title class="shine dark"></mat-card-title>
      <mat-card-subtitle class="shine medium"></mat-card-subtitle>
      <mat-card-subtitle class="shine short"></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="mat-body-1 shine">
      </p>
    </mat-card-content>

    <div class="cost-info">
      <p class="paid mat-body-2 shine medium">
      </p>
    </div>

    <mat-card-actions>
      <div class="button shine dark short">
      </div>
      <div class="button shine short">
      </div>
    </mat-card-actions>
  </mat-card>
</ng-template>



<!-- Course Template -->
<ng-template #courseTemplate>
  <mat-card class="course-card" @fadeIn>
    <mat-card-header>
      <img mat-card-avatar class="logo" *ngIf="course.logo?.url" [src]="course.logo.url | safe: 'url'"
        alt="Логотип курса" />
      <mat-card-title *ngIf="course.name">{{ course.name }}</mat-card-title>
      <mat-card-subtitle *ngIf="course.type">{{ getCourseTypeName(course.type) }}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="course.hours">{{ course.hours }} часов</mat-card-subtitle>

    </mat-card-header>
    <img mat-card-image class="img" *ngIf="course.img?.url  && !compact" [src]="course.img.url | safe: 'url'"
      alt="Изображение курса" />
    <mat-card-content *ngIf="course.description && !compact">
      <p class="mat-body-1">
        {{ course.description }}
      </p>
    </mat-card-content>

    <div class="cost-info" *ngIf="!compact">
      <p class="paid mat-body-2" *ngIf="!course.free && course.cost">
        Стоимость обучения: {{ course.cost }} р.
        <mat-icon color="primary" *ngIf="course.costInfo" matTooltip="Доп. информация" matTooltipPosition="above"
          (click)="openCostInfo()">info
        </mat-icon>
      </p>

      <p class="free mat-body-2" *ngIf="course.free">
        Бесплатный курс <mat-icon>check_circle_outline</mat-icon>
      </p>
    </div>

    <mat-card-actions *ngIf="!compact">
      <button mat-raised-button color="primary" type="button" (click)="openRequestDialog()">
        Записаться
      </button>
      <button mat-button type="button" (click)="openFullInfo()">Узнать больше</button>
    </mat-card-actions>

    <button mat-raised-button color="accent" type="button" (click)="edit = true" *ngIf="canEdit && !compact">
      Редактировать <mat-icon>edit</mat-icon>
    </button>

    <app-holdable-delete [title]="'Удалить курс'" (deleted)="onCourseDelete()" *ngIf="canEdit  && !compact">
    </app-holdable-delete>
  </mat-card>
</ng-template>

<!-- Create Template -->
<ng-template #createTemplate>
  <mat-card class="course-card" @fadeIn>
    <form class="course-form" (ngSubmit)="onCreate()" [formGroup]="form">

      <div formGroupName="logo">
        <app-uploader [maxSizeKb]="500" [title]="'Загрузите логотип курса'" storageFolder="courses/logo"
          fileType="image" (done)="onUploadLogoDone($event)" (delete)="onUploadLogoDelete()" *ngIf="!logoUrl.value">
        </app-uploader>
        <img mat-card-avatar class="logo" *ngIf="logoUrl.value" [src]="logoUrl.value | safe: 'url'"
          alt="Логотип курса" />
        <mat-form-field>
          <input matInput formControlName="url" placeholder="URL логотипа" />
        </mat-form-field>
      </div>

      <mat-form-field>
        <input matInput formControlName="name" placeholder="Название курса" required />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" formControlName="hours" placeholder="Часы" required />
      </mat-form-field>

      <div formGroupName="img">
        <app-uploader [maxSizeKb]="500" [title]="'Загрузите изображение курса'" storageFolder="courses/img"
          fileType="image" (done)="onUploadImageDone($event)" (delete)="onUploadImageDelete()" *ngIf="!imgUrl.value">
        </app-uploader>
        <img mat-card-image class="img" *ngIf="imgUrl.value" [src]="imgUrl.value | safe: 'url'"
          alt="Изображение курса" />
        <mat-form-field>
          <input matInput formControlName="url" placeholder="URL изображения" />
        </mat-form-field>
      </div>


      <mat-form-field>
        <textarea matInput cdkTextareaAutosize formControlName="requiredEducation"
          placeholder="Требуемый уровень образования" required>
        </textarea>
      </mat-form-field>


      <mat-checkbox formControlName="free">Бесплатный курс</mat-checkbox>

      <mat-form-field *ngIf="!free.value">
        <input matInput type="number" formControlName="cost" min="0" placeholder="Стоимость" />
      </mat-form-field>

      <mat-form-field>
        <textarea matInput cdkTextareaAutosize formControlName="costInfo" placeholder="Доп. информация по стоимости">
        </textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Направление</mat-label>
        <mat-select formControlName="type" required>
          <mat-option value="pk">
            Повышение квалификации
          </mat-option>
          <mat-option value="pp">
            Переподготовка
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput cdkTextareaAutosize formControlName="description" placeholder="Описание">
        </textarea>
      </mat-form-field>

      <mat-card-actions>
        <button mat-stroked-button type="button" color="warn" (click)="create = false">
          Отмена
        </button>

        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
          Добавить курс
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</ng-template>

<!-- Edit Template -->
<ng-template #editTemplate>
  <mat-card class="course-card" @fadeIn>
    <form class="course-form" (ngSubmit)="onEdit()" [formGroup]="form">

      <div formGroupName="logo">
        <app-uploader [maxSizeKb]="500" [title]="'Загрузите логотип курса'" storageFolder="courses/logo"
          fileType="image" (done)="onEditLogoDone($event)" (delete)="onUploadLogoDelete()"
          *ngIf="!logoPath.value && !logoUrl.value">
        </app-uploader>
        <img mat-card-avatar class="logo" *ngIf="logoUrl.value" [src]="logoUrl.value | safe: 'url'"
          alt="Логотип курса" />
        <app-holdable-delete [title]="'Удалить логотип курса'" (deleted)="onEditLogoDelete()" *ngIf="course.logo?.path">
        </app-holdable-delete>

        <mat-form-field *ngIf="!(course.logo?.path || logoPath.value)">
          <input matInput formControlName="url" placeholder="URL логотипа" />
        </mat-form-field>
      </div>

      <mat-form-field>
        <input matInput formControlName="name" placeholder="Название курса" required />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" formControlName="hours" placeholder="Часы" required />
      </mat-form-field>

      <div formGroupName="img">
        <app-uploader [maxSizeKb]="500" [title]="'Загрузите изображение курса'" storageFolder="courses/img"
          fileType="image" (done)="onEditImageDone($event)" (delete)="onUploadImageDelete()"
          *ngIf="!imgPath.value  && !imgUrl.value">
        </app-uploader>

        <img mat-card-image class="img" *ngIf="imgUrl.value" [src]="imgUrl.value | safe: 'url'"
          alt="Изображение курса" />
        <app-holdable-delete [title]="'Удалить изображение курса'" (deleted)="onEditImageDelete()"
          *ngIf="course.img?.path">
        </app-holdable-delete>

        <mat-form-field *ngIf="!(course.img?.path || imgPath.value)">
          <input matInput formControlName="url" placeholder="URL изображения" />
        </mat-form-field>
      </div>

      <mat-form-field>
        <textarea matInput cdkTextareaAutosize formControlName="requiredEducation"
          placeholder="Требуемый уровень образования">
        </textarea>
      </mat-form-field>

      <mat-checkbox formControlName="free">Бесплатный курс</mat-checkbox>

      <mat-form-field *ngIf="!free.value">
        <input matInput type="number" formControlName="cost" min="0" placeholder="Стоимость" />
      </mat-form-field>

      <mat-form-field>
        <textarea matInput cdkTextareaAutosize formControlName="costInfo" placeholder="Доп. информация по стоимости">
        </textarea>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Направление</mat-label>
        <mat-select formControlName="type" required>
          <mat-option value="pk">
            Повышение квалификации
          </mat-option>
          <mat-option value="pp">
            Переподготовка
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput cdkTextareaAutosize formControlName="description" placeholder="Описание">
        </textarea>
      </mat-form-field>

      <mat-card-actions>
        <button mat-stroked-button color="warn" type="button" (click)="edit = false">
          Отмена
        </button>

        <button mat-raised-button color="primary" type="submit" [disabled]="!form.dirty">
          Сохранить изменения
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</ng-template>
