<div class="grass">
</div>
<div class="content">
  <h3 class="title">Контакты</h3>
  <div class="flex-row">
    <p class="info">167003, Республика Коми, г. Сыктывкар, ул. Ручейная, д. 31</p>
    <div class="phones">
      <p class="info" style="font-weight: bold;margin-right: 10px;">+7 (8212)</p>
      <div class="flex-column">
        <p class="info">319518</p>
        <p class="info">319517</p>
        <p class="info">319514</p>
      </div>
    </div>
  </div>
  <p style="font-size: 2vh;">© {{ currentYear }}
    Федеральное государственное бюджетное образовательное учреждение дополнительного профессионального
    образования «Институт переподготовки и повышения квалификации работников агропромышленного комплекса Республики
    Коми»</p>

  <a routerLink="admin" mat-raised-button>
    <mat-icon style="margin-right: 10px">lock</mat-icon>Вход для администраторов
  </a>

  <h4 class="developer">
    <mat-icon>build</mat-icon>
    Разработка - <a href="https://lnaumov.ru" target="_blank" rel="noopener"> Наумов Леонид</a>
  </h4>
</div>
