/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.logo {
  svg {
    height: 100%;
    max-width: 100%;
  }
}

.fake {
  .mat-card-header-text {
    width: 100%;
  }
}

.mat-checkbox-layout {
  white-space: normal !important;

  .mat-checkbox-label {
    margin-left: 10px;
  }
}

mat-expansion-panel.mat-expanded {
  border: 1px solid #43a047;
}
